<link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css">

<div class="background">
  <div class="main">
    <div class="content">
      <div class="left-side">
        <h1>Parking Occupation App</h1>
        <p>Lista miejsc parkingowych:</p>
      </div>
      <div class="parking-container">
        <div *ngFor="let spot of parkSpots$ | async" class="parking-spot">
          <p>{{ spot.ParkingNumber }} - {{ spot.registration }} - 
            <span [innerHTML]="spot.isOccupied ? '&#10060;' : '&#9989;'"></span>
          </p>
          <button *ngIf="!spot.isOccupied" type="button" class="btn" (click)="visibleUpdateForms[spot.id] = true">Zajmij</button>
          <button *ngIf="spot.isOccupied" type="button" class="btn" (click)="releaseParkSpot(spot.id)">Zwolnij</button>
          <button type="button" class="btn" [routerLink]="['/history', spot.id]">Historia</button>
          <div *ngIf="visibleUpdateForms[spot.id]" class="update-form">
            <input type="text" [(ngModel)]="registrationToUpdate" placeholder="Podaj nr rejestracji">
            <button type="button" class="btn btn-update" (click)="updateRegistration(spot)">Potwierdź</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
