<link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css">

<div class="background">
  <div class="main">
    <div class="content">
      <div class="left-side">
        <h1>Parking Occupation App</h1>
        <p>Lista miejsc parkingowych:</p>
      </div>
      <div class="parking-container">
        <div *ngFor="let spot of parkSpots$ | async" class="parking-spot">
          <p>{{ spot.ParkingNumber }} - {{ spot.registration }} - {{ spot.isOccupied }}</p>
          <button type="button" class="btn">Zajmij</button>
          <button *ngIf="spot.isOccupied" type="button" class="btn" (click)="releaseParkSpot(spot.id)">Zwolnij</button>
          <button type="button" class="btn" (click)="navigateToHistory(spot.id)">Historia</button>
        </div>
      </div>
    </div>
  </div>
</div>
